body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
}

h1,
h4 {
	text-align: center;
}

table {
	border: black solid 1px;
	border-collapse: collapse;
	width: 100%;
}

tr {
	height: 40px;
}

tr:nth-child(even) {
	background-color: #efefef;
}

td,
th {
	border: 1px solid black;
	text-align: center;
	padding: 4px;
}

form {
	margin-top: 20px;
}

#content {
	width: 70%;
}
